extends layout

block content
  h1= title
  p.
   Welcome to #{title}<br />
   Let's generate some load: 
  button(class="btn", id="loadGenButton").
   Generate Load! 
  #results

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")
